body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

#home-screen {
    background-image: url("./images/bg1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure the screen height is at least the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.home-text, .about-text, .projects-text, .contact-text {
    font-size: 3vw; /* Use viewport units for font size */
    margin: 15px; /* Add margin for spacing */
}

/* Media query for smaller screens to adjust font size */
@media (max-width: 768px) {
    .home-text, .about-text, .projects-text, .contact-text {
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
}
