body {
    margin: 0;
    padding: 0;
}

#home-screen {
    position: fixed;
    background-image: url("./images/bg1.gif");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.home-text {
    position: absolute;
    top: 5%; /* Adjust the top position as needed */
    left: 2%; /* Adjust the left position as needed */
    font-size: 3vw; /* Use viewport units for font size */
    color: white;
}

.about-text {
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    left: 25%; /* Adjust the left position as needed */
    font-size: 3vw; /* Use viewport units for font size */
    color: white;
}

.projects-text {
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    right: 25%; /* Adjust the right position as needed */
    font-size: 3vw; /* Use viewport units for font size */
    color: white;
}

.contact-text {
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    right: 2%; /* Adjust the right position as needed */
    font-size: 3vw; /* Use viewport units for font size */
    color: white;
}


.ascii-art {
    font-family: monospace;
    white-space: pre;
    font-size: 16px;
    color: white; /* Set text color to white */
}
