body {
    margin: 0;
    padding: 0;
}

#content-container {
    width: 200%; /* Adjust the width as needed to fit your content */
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks in the content */
}

#home-screen {
    /* Remove background-size: cover; and background-attachment: fixed; */
    /* ... other CSS rules ... */
}

.home-text, .about-text, .projects-text, .contact-text {
    position: relative; /* Change to relative positioning */
    margin: 0 2%; /* Add left and right margin for spacing */
    width: 46%; /* Adjust the width as needed for spacing */
    font-size: 3vw; /* Use viewport units for font size */
    color: white;
}

/* Media query for smaller screens to make the elements full-width */
@media (max-width: 768px) {
    .home-text, .about-text, .projects-text, .contact-text {
        width: 100%;
    }
}
